
.e3_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e3_13 { 
	background-color:rgba(168.93750607967377, 30.97187966108322, 30.97187966108322, 1);
	width:1440px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_14 { 
	color:rgba(255, 255, 255, 1);
	width:399px;
	height:59px;
	position:absolute;
	left:110px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e3_26 { 
	color:rgba(255, 255, 255, 1);
	width:277px;
	height:35px;
	position:absolute;
	left:1142px;
	top:21px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e4_92 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:22px;
	position:absolute;
	left:1336px;
	top:52px;
	font-family:Poppins;
	text-align:right;
	font-size:15px;
	letter-spacing:0;
}
.e3_15 { 
	width:80px;
	height:80px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/bccrest_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:304px;
	height:46px;
	position:absolute;
	left:50px;
	top:177px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:117px;
	height:46px;
	position:absolute;
	left:380px;
	top:177px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:158px;
	height:46px;
	position:absolute;
	left:523px;
	top:177px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:46px;
	height:46px;
	position:absolute;
	left:736px;
	top:177px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_28 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:102px;
	height:31px;
	position:absolute;
	left:50px;
	top:240px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_27 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:28px;
	position:absolute;
	left:50px;
	top:149px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_84 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:28px;
	position:absolute;
	left:380px;
	top:149px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_89 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:28px;
	position:absolute;
	left:523px;
	top:148px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_107 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:28px;
	position:absolute;
	left:708px;
	top:147px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_29 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:18px;
	position:absolute;
	left:67px;
	top:246px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e3_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1285px;
	height:535px;
	position:absolute;
	left:80px;
	top:297px;
}
.e3_42 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:153px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_31 { 
	color:rgba(0, 0, 0, 1);
	width:446px;
	height:28px;
	position:absolute;
	left:100px;
	top:321px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e4_110 { 
	color:rgba(0, 0, 0, 1);
	width:446px;
	height:28px;
	position:absolute;
	left:100px;
	top:321px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e4_111 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:28px;
	position:absolute;
	left:532px;
	top:187px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_32 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:13px;
	height:713px;
	position:absolute;
	left:56px;
	top:297px;
}
.e3_33 { 
	background-color:rgba(138.1250050663948, 138.1250050663948, 138.1250050663948, 1);
	width:9px;
	height:46px;
	position:absolute;
	left:58px;
	top:300px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e3_35 { 
	color:rgba(0, 0, 0, 1);
	width:1241px;
	height:95px;
	position:absolute;
	left:101px;
	top:358px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:1206px;
	height:312px;
	position:absolute;
	left:120px;
	top:472px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e33_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:1206px;
	height:312px;
	position:absolute;
	left:120px;
	top:472px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e3_56 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:892px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_78 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:892px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_102 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:892px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_68 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:892px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_54 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:585px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_66 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:585px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_76 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:585px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_100 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:585px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_52 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:25px;
	position:absolute;
	left:296px;
	top:532px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_64 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:25px;
	position:absolute;
	left:296px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_74 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:25px;
	position:absolute;
	left:296px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_98 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:25px;
	position:absolute;
	left:296px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_55 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:25px;
	position:absolute;
	left:769px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_67 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:25px;
	position:absolute;
	left:769px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_77 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:20px;
	position:absolute;
	left:769px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_101 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:20px;
	position:absolute;
	left:769px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_57 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:25px;
	position:absolute;
	left:1107px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_69 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:25px;
	position:absolute;
	left:1107px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_93 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:25px;
	position:absolute;
	left:1107px;
	top:661px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_103 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:25px;
	position:absolute;
	left:1107px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_53 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:390px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_65 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:390px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_75 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:390px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_99 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:390px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_44 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:16px;
	position:absolute;
	left:390px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_45 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:16px;
	position:absolute;
	left:585px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_46 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:16px;
	position:absolute;
	left:769px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_47 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:16px;
	position:absolute;
	left:892px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_48 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:16px;
	position:absolute;
	left:1069px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_43 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:296px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_41 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:148px;
	top:484px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e3_49 { 
	width:1206px;
	height:0px;
	position:absolute;
	left:120px;
	top:512px;
}
.e3_60 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1190px;
	height:0px;
	position:absolute;
	left:136px;
	top:577px;
}
.e3_63 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1190px;
	height:0px;
	position:absolute;
	left:136px;
	top:642px;
}
.e3_72 { 
	transform: rotate(0.04814770355206069deg);
	width:1190.0003662109375px;
	height:0px;
	position:absolute;
	left:136px;
	top:706px;
}
.e4_96 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1190px;
	height:0px;
	position:absolute;
	left:136px;
	top:772px;
}
.e3_51 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:25px;
	position:absolute;
	left:148px;
	top:533px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_62 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:24px;
	position:absolute;
	left:148px;
	top:598px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_73 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:148px;
	top:663px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e4_97 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:148px;
	top:728px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e3_58 { 
	background-color:rgba(168.93750607967377, 30.97187966108322, 30.97187966108322, 1);
	width:99px;
	height:26px;
	position:absolute;
	left:1209px;
	top:533px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_71 { 
	background-color:rgba(168.93750607967377, 30.97187966108322, 30.97187966108322, 1);
	width:99px;
	height:26px;
	position:absolute;
	left:1209px;
	top:595px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_94 { 
	background-color:rgba(168.93750607967377, 30.97187966108322, 30.97187966108322, 1);
	width:99px;
	height:26px;
	position:absolute;
	left:1209px;
	top:662px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_104 { 
	background-color:rgba(168.93750607967377, 30.97187966108322, 30.97187966108322, 1);
	width:99px;
	height:26px;
	position:absolute;
	left:1209px;
	top:725px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_59 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:1214px;
	top:535px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_70 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:1214px;
	top:596px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e4_95 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:1214px;
	top:664px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e4_105 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:1214px;
	top:727px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e4_87 { 
	transform: rotate(51.84277322082013deg);
	width:17.804492950439453px;
	height:0px;
	position:absolute;
	left:459px;
	top:194px;
}
.e4_88 { 
	transform: rotate(128.34245593594284deg);
	width:17.731630325317383px;
	height:0px;
	position:absolute;
	left:480px;
	top:193px;
}
.e4_91 { 
	color:rgba(0, 0, 0, 1);
	width:293px;
	height:68px;
	position:absolute;
	left:1082px;
	top:175px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_108 { 
	transform: rotate(42.87890270956745deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:744px;
	top:203px;
}
.e4_109 { 
	transform: rotate(123.2317114619923deg);
	width:34.66987228393555px;
	height:0px;
	position:absolute;
	left:775px;
	top:185px;
}
.e5_114 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:277px;
	position:absolute;
	left:123px;
	top:512px;
}
.e5_116 { 
	background-color:rgba(138.1250050663948, 138.1250050663948, 138.1250050663948, 1);
	width:6px;
	height:107px;
	position:absolute;
	left:125px;
	top:515px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e3_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1285px;
	height:170px;
	position:absolute;
	left:80px;
	top:840px;
}
.e3_80 { 
	color:rgba(0, 0, 0, 1);
	width:481px;
	height:28px;
	position:absolute;
	left:98px;
	top:854px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_81 { 
	color:rgba(0, 0, 0, 1);
	width:1240px;
	height:95px;
	position:absolute;
	left:102px;
	top:892px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e16_206 { 
	color:rgba(255, 255, 255, 1);
	width:277px;
	height:35px;
	position:absolute;
	left:1145px;
	top:1090px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}