<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'admin_page.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <div class="header">
        <div class="logo">Eagle TAs</div>
        <div class="header-info">
            <div>{{ Users }}</div>
            <div>{{ FirstName }} {{ LastName }}</div>
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard-item">Total Courses: {{Course_Number}}</div>
        <div class="dashboard-item">Total Applications: {{Applicant_Number}}</div>
        <div class="dashboard-item">Unfulfilled Courses: {{Not_Fulfilled}}</div>
        <div class="dashboard-item">Fulfilled Courses: {{Fulfilled}}</div>
        <div class="dashboard-item">TA needed: {{TAs}}</div>
        <div class="dashboard-item">Notifications</div>
    </div>
    <div class="list-section">
        <div class="list-container">
            <div class="list-title">Course List</div>
            <a href="{% url 'temp_add_course' %}"><button>Add course</button></a>
            <input type="text" placeholder="Search for courses">
            <!-- Add course list items here -->
            {% for course in Courses %}
            <div class="course-item">
                <h3>{{ course.courseName }}</h3>
                <p>Subject: {{ course.subject }}</p>
                <p>Course Code: {{ course.courseCode }}</p>
                <p>Instructor Name: {{ course.instructorName }}</p>
                <p>Building: {{ course.building }}</p>
                <p>Discussion: {{ course.discussion }}</p>
                <p>Number of TA's: {{ course.numTAs }}</p>
                <a href="{% url 'delete_course' course.id %}">Delete</a>
                <br>
                <a href="{% url 'edit_course' course.id %}">Edit</a>
            </div>
            {% endfor %}

        </div>

        
        <div class="list-container">
            <div class="list-title">Applicant List</div>
            <input type="text" placeholder="Search for applicants">
            <!-- Add applicant list items here -->
            {% for applicant in Applicants %}
            <div class="applicant-item">
                <h3>{{ applicant.name }}</h3>
                <p>Email: {{ applicant.email }}</p>
                <p>Graduation Year: {{ applicant.gradYear }}</p>
                <p>GPA: {{ applicant.gpa }}</p>
                <p>For: {{ applicant.courseName }}</p>
                <a href="{% url 'delete_applicant' applicant.id %}">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

