<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'admin_page.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <div class="header">
        <div class="logo">Eagle TAs</div>
        <div class="header-info">
            <div>First Name, Last Name</div>
            <div>Admin</div>
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard-item">Total Courses:</div>
        <div class="dashboard-item">Total Applicants:</div>
        <div class="dashboard-item">Unfulfilled Courses:</div>
        <div class="dashboard-item">Fulfilled Courses:</div>
        <div class="dashboard-item">TA needed:</div>
        <div class="dashboard-item">Notifications:</div>
    </div>
    <div class="list-section">
        <div class="list-container">
            <div class="list-title">Course List</div>
            <a href="{% url 'temp_add_course' %}"><button>Add course</button></a>
            <input type="text" placeholder="Search for courses">
            <!-- Add course list items here -->
            {% for course in Courses %}
            
            <hr>

            <div class="big_div">
                <div>Subject</div>
                <div>{{ course.subject }}</div> <br>

                <div>Course Code</div>
                <div>{{ course.courseCode }}</div> <br>

                <div>Instructor Name</div>
                <div>{{ course.instructorName }}</div> <br>

                <div>Building</div>
                <div>{{ course.building }}</div> <br>

                <div>Discussion</div>
                <div>{{ course.discussion }}</div> <br>

                <div>Number of TA's</div>
                <div>{{ course.numTAs }}</div> <br>
            </div>

        <button type="button" class="apply_button">
            <a href="{% url 'student_apply' %}">Apply</a>
        </button>

        <hr>
        <a href="{% url 'delete_course' course.id %}">Delete</a>

        {% endfor %}
        </div>

        
        <div class="list-container">
            <div class="list-title">Applicant List</div>
			<a href="{% url 'student_apply' %}"><button>Add applicant</button></a>
            <input type="text" placeholder="Search for applicants">
            <!-- Add applicant list items here -->
            <!-- {% for applicant in applicants %}
                <div>{{ applicant.name }}</div>
                <a href="{% url 'delete_applicant' applicant.id %}">Delete</a>
            {% endfor %} -->
        </div>
    </div>
</body>
</html>

