<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'admin_page.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <div class="header">
        <div class="logo">Eagle TAs</div>
        <div class="header-info">
            <a href="{% url 'logout' %}"><button>Log Out</button></a>
            <div>{{ Users }}</div>
            <div>{{ FirstName }} {{ LastName }} - Administrator</div>
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard-item">Total Courses: {{Course_Number}}</div>
        <div class="dashboard-item">Total Applications: {{Applicant_Number}}</div>
        <div class="dashboard-item">Unfulfilled Courses: {{Not_Fulfilled}}</div>
        <div class="dashboard-item">Fulfilled Courses: {{Fulfilled}}</div>
        <div class="dashboard-item">TA needed: {{TAs}}</div>
        <div class="dashboard-item">Notifications</div>
    </div>
    <div class="list-section">
        <div class="list-container">
            <div class="list-title">Course List</div>
            <a href="{% url 'temp_add_course' %}"><button>Add course</button></a>
            <input type="text" placeholder="Search for courses">
            <!-- Add course list items here -->
            {% for course in Courses %}
            <div class="course-item">
                <h3>{{ course.courseName }}</h3>
                <div class="course-info">
                    <h5>State: {{ course.courseState }}</h5>
                    <p>Instructor: {{ course.instructor }}</p>
                    <p>Subject: {{ course.subject }}</p>
                    <p>Course Code: {{ course.courseCode }}</p>
                    <p>Building: {{ course.building }}</p>
                    <p>Discussion: {{ course.discussion }}</p>
                    <p>Total TA's Needed: {{ course.numTAs }}</p>
                    <p>TA's Accepted: {{ course.currTAs }}</p>
                    <p>Selected TAs: {{ course.namesOfTAs }}</p>
                    
                </div>
                <div class="actions">
                    <a href="{% url 'delete_course' course.id %}"><button>Delete</button></a>
                    <a href="{% url 'edit_course' course.id %}"><button>Edit</button></a>
                </div>
            </div>
            {% endfor %}

        </div>

        
        <div class="list-container">
            <div class="list-title">Applicant List</div>
            <input type="text" placeholder="Search for applicants">
            <!-- Add applicant list items here -->
            {% for applicant in Applicants %}
            <div class="applicant-item">
                <h3>{{ applicant.name }}</h3>
                {% if applicant.results == 'Awaiting Student Decision' %}
                    <h4>Awaiting Student Decision</h4>
                {% endif %}
                {% if applicant.results == 'Accepted Offer' %}
                    <h4>Applicant Accepted Offer</h4>
                {% endif %}
                {% if applicant.results == 'Denied Offer' %}
                    <h4>Applicant Denied Offer</h4>
                {% endif %}
                {% if applicant.results == 'Denied' %}
                    <h4>Application Rejected</h4>
                {% endif %}
                <div class="applicant-info">
                    <p>Email: {{ applicant.email }}</p>
                    <p>Graduation Year: {{ applicant.gradYear }}</p>
                    <p>GPA: {{ applicant.gpa }}</p>
                    <p>For: {{ applicant.courseName }}</p>  
                </div>
                <div class="actions">                
                    {% if applicant.results == 'Pending' %}
                        <a href="{% url 'delete_applicant' applicant.id %}"><button>Delete</button></a>
                        <a href="{% url 'accept_applicant' applicant.id %}"><button>Accept Applicant</button></a>
                        <a href="{% url 'deny_applicant' applicant.id %}"><button>Deny Applicant</button></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

