<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
	<link rel="stylesheet" href="{% static 'stduentTAapplication.css' %}">
            <meta charset="utf-8">

            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">           

            <style>

              body {background: #E5E5E5; }

            </style>

          </head>

          <body>

            <div class=e33_2>
  <div class="e33_38"></div>
  <div class="e33_40"></div>
  <div class="e33_37"></div>
  <div class="e33_3"></div><span  class="e33_4">EagleTAs</span><span  class="e33_5">Lastname, Firstname
</span><span  class="e33_6">Student</span>
  <div class="e33_7"></div><span  class="e33_9">Current Applications</span>
  <div class="e33_32"></div>
  <div class="e33_31"></div><span  class="e33_34">Remove All</span><span  class="e33_33">Remove Selected</span><span  class="e33_19">You Are Currently: Open to Work
You Can Send: 2/5 applications</span>
  <div class="e33_21"></div>
  <div class="e33_29"></div>
  <div class="e33_35"></div><span  class="e33_22">Course</span><span  class="e33_23">Days</span><span  class="e33_24">Time Slot</span><span  class="e33_25">Building</span><span  class="e33_26">Room</span><span  class="e33_27">Instructor(s)</span><span  class="e34_41">Discussion</span><span  class="e33_28">Application Status</span>
  <div class="e33_36"></div><span  class="e34_42">Pending</span><span  class="e36_85">Pending</span><span  class="e34_44">Computer Science I</span><span  class="e36_86">Computer Systems</span><span  class="e34_43">M/W</span><span  class="e36_87">M/W/F</span><span  class="e34_46">245 Beacon St</span><span  class="e36_89">245 Beacon St</span><span  class="e34_47">102</span><span  class="e36_90">205
</span><span  class="e34_48">Griffith, William</span><span  class="e36_91">Straubing, Howard</span><span  class="e34_49">N/A</span><span  class="e34_50">3:00PM - 4:15PM</span><span  class="e36_88">12:00PM - 1:00PM</span>
  <div class="e34_51"></div>
  <div class="e34_52"></div>
  <div class="e34_53"></div>
  <div class="e34_54"></div>
  <div class="e34_55"></div>
  <div class="e34_56"></div>
  <div class="e34_57"></div><span  class="e34_58">Course</span><span  class="e34_59">Days</span><span  class="e34_60">Time Slot</span><span  class="e34_61">Building</span><span  class="e34_62">Room</span><span  class="e34_63">Instructor(s)</span><span  class="e34_64">Discussion</span>
  <div class="e34_66"></div><span  class="e34_68">Computer Science II</span><span  class="e36_78">Algorithms</span><span  class="e34_69">M/W/F</span><span  class="e36_79">T/Th</span><span  class="e34_70">245 Beacon St</span><span  class="e36_81">245 Beacon St</span><span  class="e34_71">112
</span><span  class="e36_82">202
</span><span  class="e34_72">Griffith, William</span><span  class="e36_83">Wiseman, Charles</span><span  class="e34_73">N/A</span><span  class="e36_84">M 5:00PM - 6:00PM</span><span  class="e37_93">W 6:00PM - 7:00PM</span><span  class="e34_74">1:00PM - 2:00PM</span><span  class="e36_80">12:00PM - 1:15PM</span>
  <div class="e34_75"></div>
  <div class="e34_76"></div>
  <div class="e33_13"></div><span  class="e33_15">Apply To All</span>
  <div class="e33_14"></div><span  class="e33_18">Apply To Selected</span>
  <div class="e34_77"></div><span  class="e33_16">Selected Courses</span>
</div>
          </body>
          </html>
