<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
	<link rel="stylesheet" href="{% static 'studentApply.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="big_div">
        <div class="top_banner"></div>
        <span  class="eagleTA_text">EagleTAs</span>
        <br><br><br><br><br><br>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">submit</button>
        </form>
        <!--
        <div class="e137_5"></div>
            <span  class="top_text">Application for CSCI1101 Computer Science I</span>
            <span  class="e137_8">Lastname, Firstname</span>
    @@ -22,17 +44,25 @@
            <span  class="e138_65">GPA</span>
            <span  class="e138_73">Have you taken this class?</span>
            <span  class="e138_62">BC Email</span>
        
        <div class="e138_67"></div>
        <div class="e138_70"></div>
        <div class="e138_71"></div>
        <div class="e138_72"></div>
        <div class="e138_69"></div>
        -->
    </div>
    </body>
    </html>